.slideWrapper {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;

  .title {
    top: 0;
    left: 0;
    position: absolute;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
