.modal {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aquamarine;
}
