body,
h1,
h2 {
  margin: 0;
}

.app-wrapper {
  padding: 0 30px;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  content: '<';
  font-size: 40px;
  color: red;
}

.slick-next:before {
  content: '>';
  font-size: 40px;
  color: red;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  font-size: 0px;
  border: 0;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots .slick-active button {
  background-color: blue;
}

.slick-dots {
  bottom: 30px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
